.footer {
  background: $colorPrincipal;
  min-height: 300px;
  color: #ffffff;

  a {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
      color: $colorPrincipalHover;
      transition: all 0.25s;
    }
  }

  &__redesSociales {
    a {
      display: block;
      font-size: 1.5rem;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
