.btn-primary {
  background: $colorPrincipal;
  border-color: $colorPrincipal;

  &:hover {
    background: $colorPrincipalHover;
    border-color: $colorPrincipalHover;
  }
}

.btn-secondary {
  background: $colorTerciario;
  border-color: $colorTerciario;

  &:hover {
    background: $colorSecundario;
    border-color: $colorSecundario;
  }
}
