.btn-primary {
  background: $colorPrincipal;
  border-color: $colorPrincipal;

  &:hover {
    background: $colorPrincipalHover;
    border-color: $colorPrincipalHover;
  }

  &:focus {
    background: $colorPrincipalHover;
    border-color: $colorPrincipalHover;
    box-shadow: 0 0 0 0.25rem rgba($colorPrincipal, 0.25);
  }
}

.btn-secondary {
  background: $colorTerciario;
  border-color: $colorTerciario;

  &:hover {
    background: $colorSecundario;
    border-color: $colorSecundario;
  }

  &:focus {
    background: $colorSecundario;
    border-color: $colorSecundario;
    box-shadow: 0 0 0 0.25rem rgba($colorTerciario, 0.25);
  }
}
