.container-img__tips {
  position: relative;

  img {
    width: 100%;
    opacity: 0.7;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    text-align: center;
  }
}

.container-tip {
  &__content {
    background: $colorBody;
    border-radius: 13px;
    padding: 20px;

    &--head {
      img {
        display: block;
        width: 40px;
        height: fit-content;
      }

      p {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
      }
    }

    &--body {
      text-align: justify;
      color: #555555;
    }
  }
}

.container-testimonio {
  height: 100%;
  background: rgba(#ffffff, 0.35);
  padding: 1rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--person {
    display: flex;

    img {
      display: block;
      width: 5rem;
      border-radius: 50%;
      border: 2px solid $colorTerciario;
    }
  }
}
